/* Palettes */
*,
.reasonable * {
  --foreground-light: #222222;
  --background-light: #f6f6f6;
  --background-alt-light: #e2e2e2;
  --red-light: #e0002b;
  --green-light: #008217;
  --yellow-light: #7d6f00;
  --blue-light: #006dca;
  --purple-light: #b01fe3;

  --foreground-dark: #f6f6f6;
  --background-dark: #222222;
  --background-alt-dark: #3e3e3e;
  --red-dark: #ff4647;
  --green-dark: #72ff6c;
  --yellow-dark: #ffe53e;
  --blue-dark: #0089fc;
  --purple-dark: #d150ff;
}

.adwaita * {
  --foreground-light: #000000;
  --background-light: #ffffff;
  --background-alt-light: #ebebeb;
  --red-light: #c01c28;
  --green-light: #26a269;
  --yellow-light: #e5a50a;
  --blue-light: #1c71d8;
  --purple-light: #813d9c;

  --foreground-dark: #ffffff;
  --background-dark: #1e1e1e;
  --background-alt-dark: #303030;
  --red-dark: #ed333b;
  --green-dark: #57e389;
  --yellow-dark: #f8e45c;
  --blue-dark: #62a0ea;
  --purple-dark: #c061cb;
}

.nord * {
  --foreground-light: #2e3440;
  --background-light: #eceff4;
  --background-alt-light: #d8dee9;
  --red-light: #bf616a;
  --green-light: #a3be8c;
  --yellow-light: #ebcb8b;
  --blue-light: #5e81ac;
  --purple-light: #b48ead;

  --foreground-dark: #eceff4;
  --background-dark: #2e3440;
  --background-alt-dark: #3b4252;
  --red-dark: #bf616a;
  --green-dark: #a3be8c;
  --yellow-dark: #ebcb8b;
  --blue-dark: #5e81ac;
  --purple-dark: #b48ead;
}

.dracula * {
  --foreground-light: #f8f8f2;
  --background-light: #282a36;
  --background-alt-light: #44475a;
  --red-light: #ff5555;
  --green-light: #50fa7b;
  --yellow-light: #f1fa8c;
  --blue-light: #8be9fd;
  --purple-light: #bd93f9;

  --foreground-dark: #f8f8f2;
  --background-dark: #282a36;
  --background-alt-dark: #44475a;
  --red-dark: #ff5555;
  --green-dark: #50fa7b;
  --yellow-dark: #f1fa8c;
  --blue-dark: #8be9fd;
  --purple-dark: #bd93f9;
}

.solarized * {
  --foreground-light: #657b83;
  --background-light: #fdf6e3;
  --background-alt-light: #eee8d5;
  --red-light: #dc322f;
  --green-light: #859900;
  --yellow-light: #b58900;
  --blue-light: #268bd2;
  --purple-light: #6c71c4;

  --foreground-dark: #839496;
  --background-dark: #002b36;
  --background-alt-dark: #073642;
  --red-dark: #dc322f;
  --green-dark: #859900;
  --yellow-dark: #b58900;
  --blue-dark: #268bd2;
  --purple-dark: #6c71c4;
}

.catppuccin * {
  --foreground-light: #4c4f69;
  --background-light: #eff1f5;
  --background-alt-light: #e6e9ef;
  --red-light: #d20f39;
  --green-light: #40a02b;
  --yellow-light: #df8e1d;
  --blue-light: #1e66f5;
  --purple-light: #8839ef;

  --foreground-dark: #cdd6f4;
  --background-dark: #1e1e2e;
  --background-alt-dark: #181825;
  --red-dark: #e78284;
  --green-dark: #a6d189;
  --yellow-dark: #e5c890;
  --blue-dark: #8caaee;
  --purple-dark: #ca9ee6;
}

.gruvbox * {
  --foreground-light: #3c3836;
  --background-light: #fbf1c7;
  --background-alt-light: #ebdbb2;
  --red-light: #cc241d;
  --green-light: #98971a;
  --yellow-light: #d79921;
  --blue-light: #458588;
  --purple-light: #b16286;

  --foreground-dark: #ebdbb2;
  --background-dark: #282828;
  --background-alt-dark: #3c3836;
  --red-dark: #cc241d;
  --green-dark: #98971a;
  --yellow-dark: #d79921;
  --blue-dark: #458588;
  --purple-dark: #b16286;
}

.tango * {
  --foreground-light: #2e3436;
  --background-light: #eeeeec;
  --background-alt-light: #d3d7cf;
  --red-light: #a40000;
  --green-light: #4e9a06;
  --yellow-light: #c4a000;
  --blue-light: #204a87;
  --purple-light: #5c3566;

  --foreground-dark: #eeeeec;
  --background-dark: #2e3436;
  --background-alt-dark: #555753;
  --red-dark: #ef2929;
  --green-dark: #8ae234;
  --yellow-dark: #fce94f;
  --blue-dark: #729fcf;
  --purple-dark: #ad7fa8;
}

/* Dark or Light mode */
* {
  --foreground: var(--foreground-light);
  --background: var(--background-light);
  --background-alt: var(--background-alt-light);
  --red: var(--red-light);
  --green: var(--green-light);
  --yellow: var(--yellow-light);
  --blue: var(--blue-light);
  --purple: var(--purple-light);
}

.force-light * {
  --foreground: var(--foreground-light);
  --background: var(--background-light);
  --background-alt: var(--background-alt-light);
  --red: var(--red-light);
  --green: var(--green-light);
  --yellow: var(--yellow-light);
  --blue: var(--blue-light);
  --purple: var(--purple-light);
}

.force-dark * {
  --foreground: var(--foreground-dark);
  --background: var(--background-dark);
  --background-alt: var(--background-alt-dark);
  --red: var(--red-dark);
  --green: var(--green-dark);
  --yellow: var(--yellow-dark);
  --blue: var(--blue-dark);
  --purple: var(--purple-dark);
}

@media (prefers-color-scheme: dark) {
  * {
    --foreground: var(--foreground-dark);
    --background: var(--background-dark);
    --background-alt: var(--background-alt-dark);
    --red: var(--red-dark);
    --green: var(--green-dark);
    --yellow: var(--yellow-dark);
    --blue: var(--blue-dark);
    --purple: var(--purple-dark);
  }
}

/* Fonts */
*,
.vazirmatn * {
  font-family: Vazirmatn, serif;
}

.sahel * {
  font-family: Sahel, serif;
}

.shabnam * {
  font-family: Sabnam, serif;
}

.samim * {
  font-family: Samim, serif;
}

.gandom * {
  font-family: Gandom, serif;
}

.tanha * {
  font-family: Tanha, serif;
}

.parastoo * {
  font-family: Parastoo, serif;
}

.nahid * {
  font-family: Nahid, serif;
}

/* Styling */
body {
  background: var(--background);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  background: var(--background-alt);
  color: var(--foreground);
  padding: 1em 0;
  margin-bottom: 3em;
}

header * {
  text-align: center !important;
}

nav a {
  background: transparent;
  border: 0.1em solid var(--foreground);
  color: var(--foreground);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin: 0.2em;
  font-size: 1em;
  text-decoration: none;
}

nav a:hover {
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

main {
  margin: 2em auto;
  width: 768px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: start;
}

h1 {
  color: var(--foreground);
  font-size: 4em;
  margin: 0.5em 0 0.25em 0;
}

h2 {
  color: var(--foreground);
  font-size: 3.5em;
  margin: 0.58em 0 0.29em 0;
}

h3 {
  color: var(--foreground);
  font-size: 3em;
  margin: 0.66em 0 0.33em 0;
}

h4 {
  color: var(--foreground);
  font-size: 2.5em;
  margin: 0.8em 0 0.4em 0;
}

h5 {
  color: var(--foreground);
  font-size: 2em;
  margin: 1em 0 0.5em 0;
}

h6 {
  color: var(--foreground);
  font-size: 1.5em;
  margin: 1.32em 0 0.66em 0;
}

p {
  color: var(--foreground);
  margin: 0;
  margin-bottom: 1em;
}

a {
  color: var(--foreground);
  background: var(--background);
  text-decoration: none;
  padding: 0.1em 0.3em;
  margin: 0.2em;
  border-bottom: 1px solid var(--foreground);
}

a:hover {
  color: var(--background);
  background: var(--foreground);
}

button {
  background: transparent;
  border: 0.1em solid var(--foreground);
  color: var(--foreground);
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin: 0.2em;
  font-size: 1em;
}

button:hover {
  background: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

span {
  color: var(--foreground);
}

ul,
ol {
  color: var(--foreground);
}

li {
  margin: inherit;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto 1em auto;
}

embed {
  margin-bottom: 1em;
}

pre {
  background: var(--background-alt);
  border-radius: 0.2em;
  padding: 0.5em 1em;
  border-top: 1px solid var(--foreground);
  border-right: 2px solid var(--foreground);
  border-bottom: 2px solid var(--foreground);
  border-left: 1px solid var(--foreground);
  overflow: scroll;
}

code {
  background: var(--background-alt);
  color: var(--foreground);
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  font-family: monospace;
  font-size: 1rem;
}

blockqoute,
q {
  border-left: 5px solid var(--foreground);
  color: var(--foreground);
  padding: 0.2em 1em;
  margin: 0.5em;
  display: block;
}

/* Colors */
.red,
.red * {
  --foreground: var(--red);
}

.green,
.green * {
  --foreground: var(--green);
}

.yellow,
.yellow * {
  --foreground: var(--yellow);
}

.blue,
.blue * {
  --foreground: var(--blue);
}

.purple,
.purple * {
  --foreground: var(--purple);
}

/* Responsibility */
@media screen and (max-width: 768px) {
  main {
    width: 94%;
    padding: 0 3%;
  }
  
  h1 {
    font-size: 2em;
    margin: 1em 0 0.5em 0;
  }
  
  h2 {
    font-size: 1.75em;
    margin: 1.16em 0 0.58em 0;
  }
  
  h3 {
    font-size: 1.5em;
    margin: 1.32em 0 0.66em 0;
  }
  
  h4 {
    font-size: 1.25em;
    margin: 1.6em 0 0.8em 0;
  }
  
  h5 {
    font-size: 1em;
    margin: 2em 0 1em 0;
  }
  
  h6 {
    font-size: 0.75em;
    margin: 2.64em 0 1.32em 0;
  }
}

