            <h2 dir="auto"><a href="{{ link }}" target="_blank">{{ title }}</a></h2>
            <ul dir="auto">
                <li>
                    {{ author }} از <a href="{{ publisher_link }}" target="_blank">{{ publisher }}</a>
                </li>
            </ul>
            <p dir="auto">{{{ description }}}</p>
